body {
    background-color: #c9dfeb;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
}

form {
    text-align: center;
  }

h1 {
    font-size: 5em;
    text-shadow: 4px 4px #aaa;
    font-family: "Montserrat", Arial, sans-serif;
    text-align: center;
}


img {
    display: block;
    margin: 0 auto; 
    }
